name: Publish PyPI

on:
  workflow_call:

jobs:
  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    environment: pypi

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download dist artifacts
        uses: actions/download-artifact@v7
        with:
          name: pypi-dist
          path: dist

      - name: Publish to PyPI (Trusted Publishing)
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: dist
